* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#graph {
  width: 100vw;
  height: 100vh;
}

#controls {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
}
