* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

#graph {
  width: 100vw;
  height: 100vh;
}

#config_panel {
  position: absolute;
  top: 8px;
  left: 8px;
}
